<!-- <div><label for="num"></label>
    <input type="text" [(ngModel)]="bike.num" placeholder="num">
</div> -->

<hr />


<h2>Bike Stations:</h2>
<!-- <ul class="bikestation">
    <li *ngFor="let bike of bikestation">
        <button type="button" 
        [class.selected]="bike === selectedBike"
        (click)="onSelect(bike)">
            <span class="badge">{{bike.num}}</span>
            <span class="address">{{bike.address}}</span>
        </button>    
    </li>
</ul> -->


<ul class="bikestation">
    <li *ngFor="let bike of bikestation">
        <a routerLink="/detail/{{bike.num}}">
            <span class="badge">{{bike.num}}</span> {{bike.address}}
        </a> 
    </li>
</ul>


<!-- <app-bikedetails [bike]="selectedBike"></app-bikedetails> -->




